@using TMDT.Models;
@model List<V_ThongKeDoanhThu>
<div class="content-table">
    <h4 class="title">
        Doanh thu mỗi tháng
    </h4>
    <div class="table-responsive table-statistic">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th>
                        Tháng/Năm
                    </th>
                    <th>
                        Tổng doanh thu
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (V_ThongKeDoanhThu item in Model)
                {
                    <tr>
                        <td>
                            @item.Thang/@item.Nam
                        </td>
                        <td>
                            @item.TongDoanhThu
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<canvas id="DoanhThuChart" width="400" height="400"></canvas>
@Scripts.Render("~/bundles/chartjs")
<script>
    var ctx = document.getElementById("DoanhThuChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(ViewBag.List_labels),
            datasets: [{
                label: 'Tổng doanh thu',
                data: @Html.Raw(ViewBag.List_data),
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(201, 203, 207, 0.2)"
                ],
                borderColor: [
                    "rgba(255, 99, 132, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(255, 205, 86, 1)",
                    "rgba(75, 192, 192, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(153, 102, 255, 1)",
                    "rgba(201, 203, 207, 1)"
                ],
                borderWidth: 1
            }]
        },
        options: {
            reponsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Tổng doanh thu mỗi tháng',
                fontSize: 24
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'USD'
                    }
                }]
            }
        }
    });
</script>
