@model TMDT.Models.Nhom
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewBag.Name = "nhóm";
    ViewBag.ModelName = "Nhom";
}
@helper GetName(string name)
{
    @String.Format("Ten{0}", name)
}
<div class="row">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
</div>
<h2 style="text-align:center">
    Chỉnh sửa thông tin @ViewBag.Name
</h2>
<hr />
<div class="row justify-content-center">
    <div class="col col-sm-10 col-md-10 col-lg-8 col-xl-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDNhom)

        <div class="form-horizontal">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" name="@GetName(ViewBag.ModelName)" placeholder="Nhập tên @ViewBag.Name" value="@Model.TenNhom" required autofocus>
                 <div class="text-danger">@ViewBag.MessageFail</div>
                <div class="text-success">@ViewBag.MessageSuccess</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" name="@(ViewBag.ModelName)Alias" placeholder="Nhập alias @ViewBag.Name" value="@Model.NhomAlias" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Sửa" class="btn btn-outline-success" />
            </div>
        </div>
        }
    </div>
</div>
